<p class="text-success"><%= flash[:notice] %></p> <!--お手本はない(destroyした時のFM)-->

<div class="container">
  <%= render 'layouts/errors', obj: @new_book %>

  <div class="row">

    <div class="col-md-3 col-xs-3">
      <%= render 'users/info', user: current_user %>
      <%= render 'books/new', book: @new_book %>
    </div>

    <div class="col-md-8 offset-md-1 col-xs-9">
      <%= render 'books/index', books: @books %>
    </div>

  </div>
</div>